@font-face {
  font-family: 'Avant Garde Book BT';
  font-style: normal;
  font-weight: normal;
  src: url('../../public/fonts/AVGARDD_2.woff') format('woff');
}

@font-face {
  font-family: 'Neue Montreal Medium';
  font-style: normal;
  font-weight: 500;
  src: url('../../public/fonts/PPNeueMontreal-Medium.otf') format('opentype');
}

@font-face {
  font-family: 'Neue Montreal Book';
  font-style: normal;
  font-weight: normal;
  src: url('../../public/fonts/PPNeueMontreal-Book.otf') format('opentype');
}

@font-face {
  font-family: 'Neue Montreal Thin';
  font-style: normal;
  font-weight: normal;
  src: url('../../public/fonts/PPNeueMontreal-Thin.otf') format('opentype');
}

@font-face {
  font-family: 'Neue Montreal Regular';
  font-style: normal;
  font-weight: normal;
  src: url('../../public/fonts/neue-montreal-regular.otf') format('opentype');
}

body{
  margin: 0px;
  background-color: #0f0f0f;
  font-family: 'Neue Montreal Regular';
}
