.main {
    height: 100vh;
    background: #F8F8F8;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    .body, .mask {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: #5D6476;
        font-size: 140px;
        line-height: 124px;
        cursor: default;

        p{
            margin: 0;
            text-align: center;
        }

        text{
            font-size: 24px;
            text-align: center;
            display: block;
        }

        span{
            color: #0E58E9;
        }
    }

    .content {
        margin-top: -64px;
        

        .name {
            font-size: 24px;
            text-align: center;
            letter-spacing: 1px;
            line-height: 24px;
            padding-bottom: 40px;
        }
    }

    .mask {
        position: absolute;
        mask-image: url('../../public/Mask.svg');
        background: #0E58E9;
        mask-repeat: no-repeat;
        mask-position: 15%;
        mask-size: 40px;
        color: white;
    }
}

.blueCircle {
    position: fixed;
    top: 64px;
    left: 64px;
    width: 56px;
    height: 56px;
    background: #0E58E9;
    border-radius: 50%;
    z-index: 1000;
}

.imageContainer {
    position: absolute;
    height: 60vh;
    border-radius: 0px;
    overflow: hidden;
    z-index: 10;
    margin-bottom: 100px;
}

.loadingBarContainer {
    position: absolute;
    bottom: 15vh;
    left: 50%;
    transform: translateX(-50%);
    width: 75%;
    height: 6px;
    background: #EEEEEE;
    border-radius: 0px;
    overflow: hidden;
}

.loadingBar {
    height: 100%;
    background: #0E58E9;
    border-radius: 0px;
    transition: width 0.15s ease-out;
}

.sectionRoutes {
    position: fixed;
    top: 44px;
    right: 44px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    z-index: 1000;
    align-items: end;
    padding: 20px;

    p {
        margin: 0;
        font-size: 18px;
        color: #5D6476;
        cursor: pointer;
        transition: color 0.3s ease, opacity 0.3s ease;
        letter-spacing: 1px;

        &:hover {
            opacity: 0.5;
        }
    }

    &:hover p {
        color: #ffffff;
    }
}


