.main {
    height: 100vh;
    background: #ffffff;

    .body, .mask {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: #5D6476;
        font-size: 120px;
        line-height: 120px;
        cursor: default;

        p{
            margin: 0;
            text-align: center;
        }

        text{
            font-size: 24px;
            text-align: center;
            display: block;
        }

        span{
            color: #0E58E9;
        }
    }

    .content {
        margin-top: -100px;

        .name {
            font-size: 24px;
            text-align: center;
            display: block;
            margin-bottom: 5px;
        }
    }

    .mask {
        position: absolute;
        mask-image: url('../../public/Mask.svg');
        background: #0E58E9;
        mask-repeat: no-repeat;
        mask-position: 15%;
        mask-size: 40px;
        color: white;
    }
}
